body {
    background: url("background.jpg"); /* Your background image */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
    text-align: center;
    color: white;
    font-family: 'Avenir', sans-serif;
}

/* Navigation Bar */
.navbar {
    background-color: rgba(0,0,0,0.5); /* Semi-transparent */
    border: none;
    font-size: 16px;
}

.navbar-brand, .navbar-nav li a {
    color: white !important;
}

/* Header Section */
.header {
    background-color: #f8f8f8; /* Or any suitable color */
    padding: 100px 0;
    color: #333; /* Text color for header */
}


/* Text section inside header */
.header .col-md-6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header h1 {
    font-size: 50px; /* Adjusted font size */
}

.header h2 {
    font-size: 30px; /* Adjusted font size */
}

.Personal-Information-text-left{
    padding-left: 20px; /* Adds 20px of padding to the left, moving the content inside the block to the right */
    text-align: left;
}

.text-left {
    text-align: left;
}

/* About Section */
.about-section {
    padding: 50px 0;
    background-color: #fff;
    color: #333;
    text-align: left;
}

/* Icon Styling */
.fa {
    color: white;
    margin: 10px 5px;
    font-size: 3em !important;
}

/* Footer Styling */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7); /* Semi-transparent */
    color: white; /* Adjust as needed */
}

.profile-image {
    max-width: 200px; /* Adjust the size as needed */
    height: auto;
    border-radius: 50%; /* Circular image */
    display: block; /* Added for block-level img element */
    position: relative; /* Position relative to its normal position */
    top: 30px; /* Adjust the value to move the image down */
    left: 20px; /* Adjust the value to move the image to the right */
    margin: 0 auto; /* Center image within its column */
}


